input,
input::-webkit-input-placeholder,
select {
    font-size: 1rem;
}

.error.invalid-feedback {
    display: block;
}

.btn-primary {
    background: #1e4356 !important;
    border-color: #1e4356 !important;
}
